.require-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5rem;
  gap: 20px;
  background-color: #eff4ff;
  
}
.textfield {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.MuiTextField-root {
  background-color: white;
}

